.App {
    border: 1px solid gray;
    margin: 150px 130px;
    padding: 75px 115px;
}
.to-do-container {
    display: flex;
    flex-direction: column;
}
.to-do-container ul li {
    width: 300px;
    overflow-wrap: break-word;
    list-style-type: "✍️";
}
.done {
    text-decoration: line-through;
}
.item {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
